<div class="flex">
  <article class="sensor-card">
    <h3>{{ sensor.name }}</h3>
    <div class="reading">
      <span>reading:</span> {{ sensor.reading }}
    </div>
    <div class="location">
      <span>location:</span> {{ sensor.location }}
    </div>
  </article>
</div>