{{#paper-card as |card|}}

  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Most Recent Reading{{/text.headline}}
    {{/title.text}}
  {{/card.title}}

  {{#card.content}}
    <div><span class="sensor-reading">{{detail}}</span> ppm</div>
  {{/card.content}}

{{/paper-card}}
