<div class="container">
  <mat-card style="margin-bottom: 10px;">
    <mat-card-title>
      Harvest Monitor
    </mat-card-title>
    <mat-card-subtitle>
      Track and analyze harvests to better understand your farm
      <button mat-mini-fab color="primary" style="color: #fff;" class="pull-right">
        <mat-icon aria-label="Create new Harvest">add</mat-icon>
      </button>
    </mat-card-subtitle>
    <mat-card-content>
      <h3>List</h3>
      <app-harvest-list></app-harvest-list>
    </mat-card-content>
  </mat-card>
</div>
