<mat-card *ngIf="isDataReady">
  <mat-card-header>
    <mat-card-title class="mat-large">{{ lastReading?.reading }}&nbsp;<span class="mat-small">ppm</span>
    </mat-card-title>
    <mat-card-subtitle>
      Dissolved Oxygen Sensor
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="content">
      <p><span class="mat-large">Date: </span>{{lastReading?.createdAt | date:'medium'}}</p>
      <p><span class="mat-large">Location: </span>{{lastReading?.location}}</p>
    </div>
  </mat-card-content>
</mat-card>
