<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        DiO
      </mat-card-title>
      <mat-card-subtitle>The aquaponics management system</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>
          DiO is software solution to the monitoring of an aquaponics setup. We have created a dashboard that interacts
          with a sensor on a Raspberry Pi and hosted our application and database in the cloud. The system has been
          seperated
          into three different repositories based on their function.
        </p>
      </div>
      Check out the projects at
      <mat-list dense>
        <mat-list-item><a href="https://github.com/osu-cascades/dio-service">Dio API Service</a></mat-list-item>
        <mat-list-item><a href="https://github.com/osu-cascades/dio-web">Dio Web Dashboard</a></mat-list-item>
        <mat-list-item><a href="https://github.com/osu-cascades/dio-controllers">Dio Sensor Controller</a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
