<div class="layout-row layout-align-center-center">
    <h1>Sensor Dashboard</h1>
</div>

<div class="layout-row flex">
  <div class="layout-column flex-33">
    {{ sensor-detail detail=lastReading }}
  </div>

  <div class="layout-column flex-66">
    {{ readings-graph chart=readingConfig }}
  </div>
</div>


